@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --airosDarkBlue: #01377d;
  --airosBlue:#009DD0;
  --airosLightBlue: #98E7F4;
  --airosLimeGreen: #7FD349;
  --airosGreen: #26B170;
}

